{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/react"
  ],
  "settings": {
    "react": {
      "version": "16.4"
    },
    "propWrapperFunctions": ["forbidExtraProps"]
  },
  "globals": {
    "global": true,
    "fetch": true,
    "process": true,
    "module": true
  },
  "env": {
    "jest": true,
    "browser": true,
    "es6": true
  }
}
